.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1200px;
  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
}

.header {
  grid-area: h;
  background-color: #009B4D;
}

.header img {
  width: 50px;
}

.nav {
  grid-area: n;
  background-color: #FFCC00;
}

.content {
  grid-area: c;
  background-color: #FAF5E9;
}
.content img{
width: 100%;
}